{{#with data}}    
    <div class="articles_card">
        <img src="{{photo}}" alt="photo image" class="card_photo">
        <h3 class="card_name">{{name}}</h3>
        <p class="card_description">{{description}}</p>
        <a href="{{photo}}" class="button card_button">Read All</a>
    </div>
{{/with}}