{{#with data}}
    <nav class="pages">
            {{#each pages}}
                <a href="{{path}}" class="path_link">{{name}}</a>
            {{/each}}                      
    </nav>
    <div>

    <span class="copyright">{{copyright}}</span>
    </div>  
{{/with}}